<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Alamofire</string>
			<key>Title</key>
			<string>Alamofire</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/AwaitKit</string>
			<key>Title</key>
			<string>AwaitKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/DKImagePickerController</string>
			<key>Title</key>
			<string>DKImagePickerController</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/DKPhotoGallery</string>
			<key>Title</key>
			<string>DKPhotoGallery</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/EllipticCurveKeyPair</string>
			<key>Title</key>
			<string>EllipticCurveKeyPair</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Groot</string>
			<key>Title</key>
			<string>Groot</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/LifetimeTracker</string>
			<key>Title</key>
			<string>LifetimeTracker</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/lottie-ios</string>
			<key>Title</key>
			<string>lottie-ios</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Masonry</string>
			<key>Title</key>
			<string>Masonry</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/MBProgressHUD</string>
			<key>Title</key>
			<string>MBProgressHUD</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/MCSwipeTableViewCell</string>
			<key>Title</key>
			<string>MCSwipeTableViewCell</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/OHHTTPStubs</string>
			<key>Title</key>
			<string>OHHTTPStubs</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/pmtest</string>
			<key>Title</key>
			<string>pmtest</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/PromiseKit</string>
			<key>Title</key>
			<string>PromiseKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-AccountDeletion-V5</string>
			<key>Title</key>
			<string>ProtonCore-AccountDeletion-V5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-AccountSwitcher-V5</string>
			<key>Title</key>
			<string>ProtonCore-AccountSwitcher-V5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-APIClient</string>
			<key>Title</key>
			<string>ProtonCore-APIClient</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Authentication</string>
			<key>Title</key>
			<string>ProtonCore-Authentication</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Authentication-KeyGeneration</string>
			<key>Title</key>
			<string>ProtonCore-Authentication-KeyGeneration</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Challenge</string>
			<key>Title</key>
			<string>ProtonCore-Challenge</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Common-V5</string>
			<key>Title</key>
			<string>ProtonCore-Common-V5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-CoreTranslation</string>
			<key>Title</key>
			<string>ProtonCore-CoreTranslation</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-CoreTranslation-V5</string>
			<key>Title</key>
			<string>ProtonCore-CoreTranslation-V5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-DataModel</string>
			<key>Title</key>
			<string>ProtonCore-DataModel</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Doh</string>
			<key>Title</key>
			<string>ProtonCore-Doh</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Environment</string>
			<key>Title</key>
			<string>ProtonCore-Environment</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-FeatureSwitch</string>
			<key>Title</key>
			<string>ProtonCore-FeatureSwitch</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-ForceUpgrade-V5</string>
			<key>Title</key>
			<string>ProtonCore-ForceUpgrade-V5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Foundations</string>
			<key>Title</key>
			<string>ProtonCore-Foundations</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-GoLibs</string>
			<key>Title</key>
			<string>ProtonCore-GoLibs</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Hash</string>
			<key>Title</key>
			<string>ProtonCore-Hash</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-HumanVerification-V5</string>
			<key>Title</key>
			<string>ProtonCore-HumanVerification-V5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Keymaker</string>
			<key>Title</key>
			<string>ProtonCore-Keymaker</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Log</string>
			<key>Title</key>
			<string>ProtonCore-Log</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Login</string>
			<key>Title</key>
			<string>ProtonCore-Login</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-LoginUI-V5</string>
			<key>Title</key>
			<string>ProtonCore-LoginUI-V5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Networking</string>
			<key>Title</key>
			<string>ProtonCore-Networking</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-OpenPGP</string>
			<key>Title</key>
			<string>ProtonCore-OpenPGP</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Payments</string>
			<key>Title</key>
			<string>ProtonCore-Payments</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-PaymentsUI-V5</string>
			<key>Title</key>
			<string>ProtonCore-PaymentsUI-V5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-QuarkCommands</string>
			<key>Title</key>
			<string>ProtonCore-QuarkCommands</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Services</string>
			<key>Title</key>
			<string>ProtonCore-Services</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-TestingToolkit</string>
			<key>Title</key>
			<string>ProtonCore-TestingToolkit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-TroubleShooting</string>
			<key>Title</key>
			<string>ProtonCore-TroubleShooting</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-UIFoundations-V5</string>
			<key>Title</key>
			<string>ProtonCore-UIFoundations-V5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ProtonCore-Utilities</string>
			<key>Title</key>
			<string>ProtonCore-Utilities</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ReachabilitySwift</string>
			<key>Title</key>
			<string>ReachabilitySwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SDWebImage</string>
			<key>Title</key>
			<string>SDWebImage</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/Sentry</string>
			<key>Title</key>
			<string>Sentry</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SideMenuSwift</string>
			<key>Title</key>
			<string>SideMenuSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SkeletonView</string>
			<key>Title</key>
			<string>SkeletonView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SQLite.swift</string>
			<key>Title</key>
			<string>SQLite.swift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/swift-snapshot-testing</string>
			<key>Title</key>
			<string>swift-snapshot-testing</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SwiftSoup</string>
			<key>Title</key>
			<string>SwiftSoup</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SwiftyGif</string>
			<key>Title</key>
			<string>SwiftyGif</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SwipyCell</string>
			<key>Title</key>
			<string>SwipyCell</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/TrustKit</string>
			<key>Title</key>
			<string>TrustKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
