<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>ProtonMail</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>RAR</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Rar archive</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
				<string>7Z</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>7z archive</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.7-zip.7-zip-archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ch.protonmail.protonmail</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>protonmail</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Mailto</string>
			<key>CFBundleURLName</key>
			<string>ch.protonmail.protonmail.mailto</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mailto</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>Debug</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>d90af253-90ca-4698-95d3-40f4e4a36ce4</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>org-appextension-feature-password-management</string>
		<string>microsoft-edge-https</string>
		<string>microsoft-edge-http</string>
		<string>brave</string>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>firefox</string>
		<string>touch-http</string>
		<string>touch-https</string>
		<string>yandexbrowser-open-url</string>
		<string>opera-http</string>
		<string>opera-https</string>
		<string>firefox-focus</string>
		<string>ddgQuickLink</string>
		<string>onionhttp</string>
		<string>onionhttps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>compute.amazonaws.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Required for attaching media to the email.</string>
	<key>NSCameraUsageDescription</key>
	<string>Required for attaching photos to the email.</string>
	<key>NSContactsUsageDescription</key>
	<string>Used for accessing email addresses for contacts saved on the device so they can be used when composing a message or when manually uploading the device contacts to your account. Contact information is not uploaded to our servers without an explicit action to do so.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allows you quick and secure to unlock your application.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Required for saving image attachments to photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Required for attaching photos to the email.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>Handoff.Message</string>
		<string>RestoreWindow</string>
		<string>WipeMainKeyIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
