stages:
  - i18n
  - test
  - code_quality
  - test_flight
  - enterprise
  - bot # comes from translations/generator job

.run_xcodegen_if_needed: &run_xcodegen_if_needed
  - rm -rf ~/.cocoapods/repos/proton_core_path
  - pod repo add proton_core_path "https://proton-ci:${PRIVATE_TOKEN_GITLAB_API_PROTON_CI}@gitlab.protontech.ch/apple/shared/protoncore.git"
  - rm -rf ~/.cocoapods/repos/proton_test_path
  - pod repo add proton_test_path "https://proton-ci:${PRIVATE_TOKEN_GITLAB_API_PROTON_CI}@gitlab.protontech.ch/apple/shared/pmtestautomation.git"
  - sh xcodeGenHelper.sh

.before_script_mac: &before_script_mac
  - cd ProtonMail/ProtonMailUITests
  - sh Tests/TestPlans/scripts/prepare_users.sh
  - cd ..
  - *run_xcodegen_if_needed
  - gem install xcpretty

.set_up_brew_dependecies: &set_up_brew_dependecies
  - brew bundle --file="$CI_PROJECT_DIR/ProtonMail/Brewfile" --no-upgrade
  - mint bootstrap

.enterprise_config_setting: &enterprise_config_setting
  - cd ProtonMail
  - *run_xcodegen_if_needed
  - touch ~/.bashrc
  - curl -sL https://sentry.io/get-cli/ | bash || true
  - base64 -D -o Certificates.p12 <<< $ENTERPRISE_DISTRIBUTION_CERTIFICATE
  - base64 -D -o Siri.mobileprovision <<< $ENTERPRISE_DISTRIBUTION_SIRI_PROVISIONPROFILE
  - base64 -D -o Enterprise.mobileprovision <<< $ENTERPRISE_DISTRIBUTION_APP_PROVISIONPROFILE
  - base64 -D -o PushService.mobileprovision <<< $ENTERPRISE_DISTRIBUTION_PUSHSERVICE_PROVISIONPROFILE
  - base64 -D -o Share.mobileprovision <<< $ENTERPRISE_DISTRIBUTION_SHARE_PROVISIONPROFILE
  - SENTRY_PROJECT=$SENTRY_PROJECT_ENTERPRISE
  - SENTRY_AUTH_TOKEN=$SENTRY_AUTH_TOKEN_ENTERPRISE

# --- includes ---
include:
  - project: "translations/generator"
    ref: master
    file: "/jobs/sync-crowdin.gitlab-ci.yml"

  - project: "translations/generator"
    ref: master
    file: "/jobs/commit-locales.gitlab-ci.yml"

variables:
  LC_ALL: "en_US.UTF-8"
  LANG: "en_US.UTF-8"
  GEM_HOME: "$CI_PROJECT_DIR/gem"

unit_tests:
  dependencies: []
  stage: test
  coverage: '/Test Coverage: \d*.\d*%/'
  only:
    - master
    - develop
    - /^release\/.*$/
    - merge_requests
  except:
    - schedules
  variables:
    GIT_DEPTH: 1
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: test_output/slatherOutput/cobertura.xml
    paths:
      - test_output/slatherOutput/
  before_script:
    - git submodule init
    - git submodule update --init --recursive
    - *set_up_brew_dependecies
  script:
    - defaults write com.apple.iphonesimulator ConnectHardwareKeyboard 0 # Fixed UI tests failing on secure field
    - cd ProtonMail
    - *run_xcodegen_if_needed
    - bundle install
    - bundle exec fastlane unit_test
  tags:
    - iOS_ARM_TAIPEI

ui_tests:
  dependencies: []
  stage: test
  except:
    - schedules
    - develop
  only:
    refs:
      - master
      - /^release\/.*$/
  variables:
    GIT_DEPTH: 1
  artifacts:
    when: always
    name: "test-report"
    paths:
      - ./index.html
      - ./TestResults/report.junit
      - ./TestResults.xcresult
    expire_in: 20 days
    reports:
      junit: ./TestResults/report.junit
  before_script:
    - git submodule init
    - git submodule update --init --recursive
    - *set_up_brew_dependecies
    - *before_script_mac
    - cd ..
  script:
    - defaults write com.apple.iphonesimulator ConnectHardwareKeyboard 0 # Fixed UI tests failing on secure field
    - xcodebuild -workspace ProtonMail/ProtonMail.xcworkspace -scheme ProtonMailUITests -destination "platform=iOS Simulator,name=iPhone 11,OS=15.0" -testPlan "SmokeTests" -resultBundlePath "./TestResults" -derivedDataPath "./DerivedData" -parallel-testing-enabled YES -parallel-testing-worker-count "2" -quiet test
  tags:
    - iOS_ARM_TAIPEI

feature_tests:
  dependencies: []
  stage: test
  rules:
    - if: '$TEST_TYPE == "regression" || $TEST_TYPE == "feature"'
  variables:
    GIT_DEPTH: 1
  artifacts:
    when: always
    name: "test-report"
    paths:
      - ./index.html
      - ./TestResults/report.junit
      - ./TestResults.xcresult
    expire_in: 20 days
    reports:
      junit: ./TestResults/report.junit
  before_script:
    - *set_up_brew_dependecies
    - *before_script_mac
    - git submodule init
    - git submodule update --init --recursive
    - bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/master/install.sh) '2.0.0'
    - cd ..
  script:
    - defaults write com.apple.iphonesimulator ConnectHardwareKeyboard -bool NO # Fixed UI tests failing on secure field
    - sh ProtonMail/ProtonMailUITests/Tests/TestPlans/scripts/run_ui_tests.sh $TEST_PLAN $NUMBER_OF_DEVICES $CI_COMMIT_BRANCH $CI_JOB_URL $SLACK_UI_TESTS_URL $MAIL_APP_API_PATH $MAIL_APP_API_DOMAIN
  after_script:
    - xchtmlreport -r ./TestResults -j
  tags:
    - iOS_ARM_TAIPEI

# --- Build app and send to testflight
build-app-and-upload:
  dependencies: []
  stage: test_flight
  rules:
    - if: '$CI_PIPELINE_SOURCE != "schedule"'
      when: manual
      allow_failure: true
  artifacts:
    name: "iOS mail app builds"
    paths:
      - ./ProtonMail/outputs/ProtonMail.app.dSYM.zip
    expire_in: 90 days
  before_script:
    - git submodule init
    - git submodule update --init --recursive
    - *set_up_brew_dependecies
  script:
    - cd ProtonMail
    - *run_xcodegen_if_needed
    - touch ~/.bashrc
    - curl -sL https://sentry.io/get-cli/ | bash || true
    - base64 -D -o Certificates.p12 <<< $DISTRIBUTION_CERTIFICATE
    - fastlane ios build
    - ./fastlane/add_git_tag.sh
  tags:
    - iOS_ARM_TAIPEI

nightly-build-and-upload:
  dependencies: []
  stage: test_flight
  only:
    refs:
      - schedules
    variables:
      - $SCHEDULE_TYPE == "nightly_build"
  artifacts:
    name: "iOS mail app nightly build on develop branch"
    paths:
      - ./ProtonMail/outputs/ProtonMail.app.dSYM.zip
    expire_in: 90 days
  before_script:
    - git submodule init
    - git submodule update --init --recursive
    - *set_up_brew_dependecies
  script:
    - cd ProtonMail
    - *run_xcodegen_if_needed
    - touch ~/.bashrc
    - curl -sL https://sentry.io/get-cli/ | bash || true
    - base64 -D -o Certificates.p12 <<< $DISTRIBUTION_CERTIFICATE
    - fastlane ios build
  tags:
    - iOS_ARM_TAIPEI

# --- Build enterprise app for test and upload
enterprise-test:
  dependencies: []
  stage: enterprise
  variables:
    GIT_DEPTH: 1
  rules:
    - if: '$CI_PIPELINE_SOURCE != "schedule"'
      when: manual
      allow_failure: true
  artifacts:
    name: "iOS mail app test enterprise build"
    paths:
      - ./ProtonMail/outputs/ProtonMail.app.dSYM.zip
    expire_in: 90 days
  before_script:
    - git submodule init
    - git submodule update --init --recursive
    - *set_up_brew_dependecies
  script:
    - *enterprise_config_setting
    - fastlane ios enterprise usingTimeStamp:true
  tags:
    - iOS_ARM_TAIPEI

# --- Translation related tasks ---
i18n-sync-crowdin:
  variables:
    I18N_SYNC_CROWDIN_PROJECT: "apple-mail-v4"
    I18N_SYNC_BRANCH: "develop"
  extends: .i18n-sync-crowdin-shared-apple

i18n-commit-locales:
  variables:
    I18N_COMMIT_CROWDIN_PROJECT: "apple-mail-v4"
    I18N_COMMIT_BRANCH_PUSH: "develop"
    I18N_COMMIT_BRANCH_ALLOWED: "develop"
  extends: .i18n-commit-locales-shared-apple2

commit-locales-release:
  stage: i18n
  extends: .i18n-commit-locales-shared-apple2
  when: manual
  variables:
    I18N_COMMIT_BRANCH_PUSH: $CI_COMMIT_REF_NAME
    I18N_COMMIT_CROWDIN_PROJECT: "apple-mail-v4"
  only:
    refs:
      - branches
    variables:
      - $CI_COMMIT_REF_NAME == 'develop'

sonarqube-check:
  stage: code_quality
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner
  allow_failure: true
  only:
    - merge_requests
    - master # or the name of your main branch
    - develop
