Created by https://www.gitignore.io/api/xcode,osx

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# environment variables
.env

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
*Info.plist
ProtonPackages/proton_app_uniffi/

## Build generated
build/
ci-cache/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
Carthage/

### Xcode Patch ###
*.xcodeproj/**
*.xcodeproj.bak/**
# End of https://www.gitignore.io/api/xcode,osx

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

tmp/

# UITest Performance Tests
Modules/App/UITests/Mailbox/certificate_ios_sdk.p12
Modules/App/UITests/Loki.plist

# Testmo
testmo-resources.json

# Check in Package.resolved for dependency resolution, despite ignoring .xcodeproj because of Xcodegen
# https://developer.apple.com/documentation/xcode/building-swift-packages-or-apps-that-use-them-in-continuous-integration-workflows#Use-the-expected-version-of-a-package-dependency
!ProtonMail.xcodeproj/project.xcworkspace
ProtonMail.xcodeproj/project.xcworkspace/*
!ProtonMail.xcodeproj/project.xcworkspace/xcshareddata
ProtonMail.xcodeproj/project.xcworkspace/xcshareddata/*
!ProtonMail.xcodeproj/project.xcworkspace/xcshareddata/swiftpm
ProtonMail.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!ProtonMail.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
