.DS_Store
xcuserdata
ProtonMail/DerivedData
ProtonMail/fastlane/report.xml
test_output
.vscode/*
builds
*.mobileprovision
*.p12
outputs
env-vars
ProtonMail/Brewfile.lock.json
bundler-cache

# ignored because of XcodeGen
ProtonMail/Pods/Pods.xcodeproj/project.pbxproj
ProtonMail/ProtonMail.xcworkspace

# Add Package.resolved to git only
ProtonMail/ProtonMail.xcodeproj/*
!ProtonMail/ProtonMail.xcodeproj/project.xcworkspace
ProtonMail/ProtonMail.xcodeproj/project.xcworkspace/*
!ProtonMail/ProtonMail.xcodeproj/project.xcworkspace/xcshareddata
ProtonMail/ProtonMail.xcodeproj/project.xcworkspace/xcshareddata/*
!ProtonMail/ProtonMail.xcodeproj/project.xcworkspace/xcshareddata/swiftpm
ProtonMail/ProtonMail.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!ProtonMail/ProtonMail.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
