<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>ProtonMail</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.0</string>
	<key>CFBundleVersion</key>
	<string>Debug</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Required for attaching media to the email.</string>
	<key>NSCameraUsageDescription</key>
	<string>Required for attaching photos to the email.</string>
	<key>NSContactsUsageDescription</key>
	<string>Required for email autocomplete.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY (
			    extensionItems,
			    $extensionItem,
			    SUBQUERY (
			        $extensionItem.attachments,
			        $attachment,
			        (ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.url&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.file-url&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.text&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.plain-text&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.utf8-plain-text&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.html&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.xml&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;com.adobe.pdf&quot; ||
              		ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.composite-content&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.image&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.playlist&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.archive&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.spreadsheet&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.presentation&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.content&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.to-do-item&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.calendar-event&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.email-message&quot; ||
              		ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;com.apple.internet-location&quot; ||
                    ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.vcard&quot; ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.message&quot;)
			    ).@count == $extensionItem.attachments.@count
			).@count &gt;= 1</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>ShareExtensionEntry</string>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Allows you quick and secure to unlock your application.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Required for saving image attachments to photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Required for attaching photos to the email.</string>
</dict>
</plist>
