<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>ProtonMail</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>Debug</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Required for attaching media to the email.</string>
	<key>NSCameraUsageDescription</key>
	<string>Required for attaching photos to the email.</string>
	<key>NSContactsUsageDescription</key>
	<string>Used for accessing email addresses for contacts saved on the device so they can be used when composing a message or when manually uploading the device contacts to your account. Contact information is not uploaded to our servers without an explicit action to do so.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY (
			    extensionItems,
			    $extensionItem,
			    SUBQUERY (
			        $extensionItem.attachments,
			        $attachment,
			        (ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.file-url" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.text" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.plain-text" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.utf8-plain-text" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.html" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.xml" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.adobe.pdf" ||
              		ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.composite-content" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.image" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.playlist" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.archive" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.spreadsheet" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.presentation" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.content" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.to-do-item" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.calendar-event" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.email-message" ||
              		ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.apple.internet-location" ||
                    ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.vcard" ||
			        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.message")
			    ).@count &gt; 0
			).@count &gt; 0</string>
		</dict>
		<key>NSExtensionOverridesHostUIAppearance</key>
		<true/>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>ShareExtensionEntry</string>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Allows you quick and secure to unlock your application.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Required for saving image attachments to photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Required for attaching photos to the email.</string>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
